<div class="profile">
	<div class="profile__title">Профиль</div>
	<div class="profile__image image-profile">
		<div class="image-profile__text">Фотография</div>
		<div class="image-profile__image">
			<img src="assets/img/User.png" alt="">
		</div>
	</div>
	<div class="profile__settings settings-profile">
		<div class="settings-profile__item">
			<div class="settings-profile__text">Ф.И.О.</div>
			<div class="settings-profile__input-wrapper">
				<input class="settings-profile__input" type="text" placeholder="Антонов Евгений Иванович">
				<div class="settings-profile__icon">
					<img src="assets/icons/pencil.svg" alt="">
				</div>
			</div>
		</div>
		<div class="itemShow-wrapper">
			<div class="settings-profile__itemShow">
				<div class="settings-profile__text">Старый пароль</div>
				<div class="settings-profile__input-wrapper">
					<input class="settings-profile__input" type="text" placeholder="JoHnny1829">
					<div class="settings-profile__icon">
						<img src="assets/icons/toggle_password.svg" alt="">
					</div>
				</div>
			</div>
			<div class="settings-profile__itemShow">
				<div class="settings-profile__text">Новый пароль</div>
				<div class="settings-profile__input-wrapper">
					<input class="settings-profile__input" type="text" placeholder="JoHnny1829">
					<div class="settings-profile__icon">
						<img src="assets/icons/toggle_password.svg" alt="">
					</div>
				</div>
			</div>
			<div class="settings-profile__itemShow">
				<div class="settings-profile__text">Новый пароль <br>(ещё раз)</div>
				<div class="settings-profile__input-wrapper">
					<input class="settings-profile__input" type="text" placeholder="JoHnny1829">
					<div class="settings-profile__icon">
						<img src="assets/icons/toggle_password.svg" alt="">
					</div>
				</div>
			</div>
			<div class="settings-profile__itemSwitch">
				<button type="submit" class="settings-profile__button">Изменить пароль</button>
			</div>
		</div>
	</div>
</div>