<div class="repository">
	<div class="repository__title">
		<div class="repository__name-title">Название</div>
		<div class="repository__dateCreation-title">Дата создания</div>
		<div class="repository__dateChange-title">Дата изменения</div>
		<div class="repository__team-title">Участники</div>
		<div class="repository__size-title">Размер</div>
	</div>
	<ul class="repository__list">
		<li class="repository__item">
			<div class="repository__name-wrapper">
				<div class="repository__name">
					Расследов
				</div>
				<img src="assets/icons/repository_icon.svg" alt="">
			</div>
			<div class="repository__dateCreation">10.02.2021</div>
			<div class="repository__dateChange">14.02.2021</div>
			<div class="repository__team">
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person-counter">+10</div>
			</div>
			<div class="repository__size">2 д. / 40 к.</div>
		</li>
		<li class="repository__item">
			<div class="repository__name-wrapper">
				<div class="repository__name">
					Расследование 19.07
				</div>
				<img src="assets/icons/repository_icon.svg" alt="">
			</div>
			<div class="repository__dateCreation">10.02.2021</div>
			<div class="repository__dateChange">14.02.2021</div>
			<div class="repository__team">
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person-counter">+20</div>
			</div>
			<div class="repository__size">2 д. / 40 к.</div>
		</li>
		<li class="repository__item">
			<div class="repository__name-wrapper">
				<div class="repository__name">
					Расследование 19.07 Расследование 19.07 Расследование 19.07 Расследование 19.07
				</div>
				<img src="assets/icons/repository_icon.svg" alt="">
			</div>
			<div class="repository__dateCreation">10.02.2021</div>
			<div class="repository__dateChange">14.02.2021</div>
			<div class="repository__team">
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person">
					<img src="assets/img/User.png" alt="">
				</div>
				<div class="repository__person-counter">+10</div>
			</div>
			<div class="repository__size">20 д. / 1401 к.</div>
		</li>
		
		<!-- диалоговое окно -->

		<div class="dialog-box">
			<div class="dialog-box__item">
				<div class="dialog-box__image">
					<img src="assets/icons/share_dialog.svg" alt="">
				</div>
				<button type="button" class="dialog-box__button">Поделиться</button>
			</div>
			<div class="dialog-box__item">
				<div class="dialog-box__image">
					<img src="assets/icons/delete_dialog.svg" alt="">
				</div>
				<button type="button" class="dialog-box__button">Удалить</button>
			</div>
		</div>

		<!-- диалоговое окно -->

	</ul>
	
	<!--модальное окно-->

	<div class="reposaitory__popup popup"> <!--сюда _active-->
		<!--при нажатии на поделиться ( я ещё не сделал её ) к .popup добавляется класс актив-->
		<!--при нажатии на popup-space-closing отбирается класс _active у .popup-->
		<!--при нажатии на .peaple-popup__image к .peaple-popup добавляется класс _active-->
		<div class="popup-space-closing"></div>
		<div class="popup__content">
			<div class="popup__body">
				<div class="popup__title">Поделиться</div>
				<div class="popup__search-wrapper search-popup">
					<div class="search-popup__icon">
						<img src="assets/icons/search.svg" alt="">
					</div>
					<input class="search-popup__input" placeholder="Поиск">
				</div>
				<div class="popup__peaple-wrapper">
					<div class="popup__peaple peaple-popup"> <!--сюда _active-->
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
					<div class="popup__peaple peaple-popup">
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
					<div class="popup__peaple peaple-popup">
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
					<div class="popup__peaple peaple-popup">
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
					<div class="popup__peaple peaple-popup">
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
					<div class="popup__peaple peaple-popup">
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
					<div class="popup__peaple peaple-popup">
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
					<div class="popup__peaple peaple-popup">
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
					<div class="popup__peaple peaple-popup">
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
					<div class="popup__peaple peaple-popup">
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
					<div class="popup__peaple peaple-popup">
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
					<div class="popup__peaple peaple-popup">
						<div class="peaple-popup__image">
							<span><img src="assets/icons/peaple_check.svg" alt=""></span>
							<img src="assets/img/peaple1.png" alt="">
						</div>
						<div class="peaple-popup__name">Иван Иванов</div>
					</div>
				</div>
				<div class="popup__button-wrapper">
					<button type="button" class="popup__button-cancel">Отмена</button>
					<button type="button" class="popup__button-share">Поделиться</button>
				</div>
			</div>
		</div>
	</div>

	<!--модальное окно-->

</div>