<!--модальное окно создания новой карточки-->

<div class="popup">  <!-- _active сюда эжже -->
  <div class="popup-space-closing"></div>
  <div class="popup__content">
    <div class="popup__body">
      <div class="popup__title">Новая карточка</div>
      <!-- item -->
      <div class="popup__item item-popup item-name">
        <div class="item-popup__name">
          Название
        </div>
        <div class="item-popup__content">
          <div class="item-name__input-wrapper">
            <input class="item-name__input" type="text" placeholder="Улика №1">
            <div class="item-name__image">
              <img src="assets/icons/pencil.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- item -->
      <!-- item -->
      <div class="popup__item item-popup item-desc">
        <div class="item-popup__name">
          Описание
        </div>
        <div class="item-popup__content">
          <textarea class="item-desc__text" placeholder="На месте преступления был найден ножс отпечатками пальцев, возможно, убийца оставил улики."></textarea>
        </div>
      </div>
      <!-- item -->
      <!-- item -->
      <div class="popup__item item-popup item-color">
        <div class="item-popup__name">
          Цвет
        </div>
        <div class="item-popup__content item-color__content">
          <div class="item-color__item"></div>  <!-- _active сюда эжже -->
          <div class="item-color__item"></div>
          <div class="item-color__item"></div>
          <div class="item-color__item"></div>
          <div class="item-color__item"></div>
          <div class="item-color__item"></div>
          <div class="item-color__item"></div>
          <div class="item-color__item"></div>
        </div>
      </div>
      <!-- item -->
      <!-- item -->
      <div class="popup__item item-popup item-attach">
        <div class="item-popup__name">
          Вложение
        </div>
        <div class="item-popup__content item-attach__content">
          <div class="item-attach__text">Прикрепите файл с внешнего носителя (ПК, мобильный телефон)</div>
          <input type="file" name="file" id="input__file" class="item-attach__input">
          <label for="input__file" class="item-attach__label">
            <img src="assets/icons/attach.svg" alt="">
          </label>
        </div>
      </div>
      <!-- item -->
      <!-- item -->
      <div class="popup__item item-popup item-link">
        <div class="item-popup__name">
          Ссылка
        </div>
        <div class="item-popup__content">
          <input class="item-link__input" type="url" placeholder="https://www.youtube.com/watch?v=8s5SsUVvwWA">
        </div>
      </div>
      <!-- item -->
      <div class="popup__button-wrapper">
        <button type="button" class="popup__button">Отмена</button>
        <button type="button" class="popup__button">Создать</button>
      </div>
    </div>
  </div>
</div>

<!--модальное окно создания новой карточки-->
