<div class="popup" [ngClass]="isShown ? '_active' : ''">
  <!--при нажатии на кнопку очистить, которая находится в right-bar, добавляется класс _active к .popup-->
  <!--при нажатии на popup-space-closing отбирается класс _active у .popup-->
  <div class="popup-space-closing" (click)="closeModal(false)"></div>
  <div class="popup__content">
    <div class="popup__body">
      <mat-form-field appearance="fill">
        <mat-label>Название</mat-label>
        <input matInput [(ngModel)]="title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Описание</mat-label>
        <textarea matInput [(ngModel)]="description"></textarea>
      </mat-form-field>

      <div class="popup__button-wrapper">
        <button type="button" class="popup__button-cancel" (click)="closeModal(false)">Отмена</button>
        <button type="button" class="popup__button-clean" (click)="closeModal(true)">Обновить</button>
      </div>
    </div>
  </div>
</div>
