.container
    width: 100vw
    height: 100vh

    header
        width: 100%
        height: 50px
        background: #e2e2e2

    .board-container
        width: 100vw
        height: calc(100vh - 50px)
        
        .board
            background-image: url(/assets/img/bg-board.jpg)
            min-width: 10000px
            min-height: 10000px
            position: relative
            user-select: none

            app-card
                position: absolute