<div class="dialog-box"
     *ngIf="isElementModalShown"
     [style.top]="y.toString() + 'px'"
     [style.left]="x.toString() + 'px'">
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="../../../../../../assets/icons/share_dialog.svg" alt="">
    </div>
    <button (click)="shareElement()" type="button" class="dialog-box__button">Поделиться</button>
  </div>
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="../../../../../../assets/icons/export-icon.svg" alt="">
    </div>
    <button type="button" class="dialog-box__button" (click)="exportElement()">Экспортировать</button>
  </div>
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="../../../../../../assets/icons/can-edit-icon.svg" alt="">
    </div>
    <button (click)="editElement()" type="button" class="dialog-box__button">Редактировать</button>
  </div>
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="../../../../../../assets/icons/delete_dialog.svg" alt="">
    </div>
    <button (click)="moveToTrashBinElement()" type="button" class="dialog-box__button">Удалить</button>
  </div>
</div>


<div class="dialog-box"
     *ngIf="isMilkModalShown"
     [style.top]="y.toString() + 'px'"
     [style.left]="x.toString() + 'px'">
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="../../../../../../assets/icons/import-icon.svg" alt="">
    </div>
    <button type="button" class="dialog-box__button" (click)="importFolder()">Импортировать папку</button>
    <input type="file" style="display: none" (change)="uploadFolderImportFile()" #importFolderInput />
    <!-- <button type="button" class="dialog-box__button" (click)="importBoard()">Импортировать доску</button> -->
  </div>
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="../../../../../../assets/icons/import-icon.svg" alt="">
    </div>
    <button type="button" class="dialog-box__button" (click)="importBoard()">Импортировать доску</button>
    <input type="file" style="display: none" (change)="uploadDeskImportFile()" #importDeskInput />
    <!-- <button type="button" class="dialog-box__button" (click)="importBoard()">Импортировать доску</button> -->
  </div>
</div>


<div class="dialog-box"
     *ngIf="isRecoverModalShown"
     [style.top]="y.toString() + 'px'"
     [style.left]="x.toString() + 'px'">
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="../../../../../../assets/icons/recover-icon.svg" alt="">
    </div>
    <button type="button" class="dialog-box__button" (click)="recoverElement()">Восстановить</button>
  </div>
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="../../../../../../assets/icons/delete_dialog.svg" alt="">
    </div>
    <button type="button" class="dialog-box__button" (click)="deleteElement()">Удалить</button>
  </div>
</div>

