<div class="wrepper">
  <header class="header">
    <div class="header__logo">
      <a href="">F.U.N.</a>
    </div>
    <!-- <div class="header__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="menu__link">1234123</a>
          </li>
          <li class="menu__item">
            <a href="menu__link">1234123</a>
          </li>
        </ul>
      </nav>
    </div> -->
    <!-- <div class="header__icon icon-header">
      <span></span>
      <span></span>
      <span></span>
    </div> -->
  </header>
  <main class="main">
    <div class="left-bar">
      <div class="left-bar__switch">
        <span></span>
      </div>
      <ul class="left-bar__list">
        <li class="left-bar__item">
          <a href="" class="left-bar__link">дела</a>
        </li>
        <li class="left-bar__item">
          <a href="" class="left-bar__link">что-то</a>
        </li>
        <li class="left-bar__item">
          <a href="" class="left-bar__link">корзина</a>
        </li>
      </ul>
    </div>
    <div class="right-bar">
      <div class="test"></div>
    </div>
  </main>
</div>
