<div class="wrapper">
  <header class="header" (contextmenu)="onRightClick($event)">
    <div class="header__logo">
      <a href="">
        <div class="header__logo-image"><img src="assets/icons/logo.svg" alt=""></div>
        F.U.N.
      </a>
    </div>
    <div class="header__togle-menu togle-menu" [ngClass]="isMenuShown ? '_active' : ''" (click)="toggleNavMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="header__search-trigger search-trigger" (click)="toggleSearchBar()">
      <button class="">
        <img class="search-trigger__trigger" [ngClass]="isSearchShown ? '_active' : ''" src="assets/icons/search.svg"
             alt="">
        <img class="search-trigger__arrow" [ngClass]="isSearchShown ? '_active' : ''" src="assets/icons/arrow-up.svg"
             alt="">
      </button>
    </div>
    <div class="header__search search-header" [ngClass]="isSearchShown ? '_active' : ''">
      <div class="search-header__wrapper">
        <input class="search-header__input" type="" placeholder="Найти...">
        <button href="" class="search-header__icon">
          <img src="assets/icons/search.svg" alt="">
        </button>
      </div>
    </div>
    <div class="header__user user-header">
      <a (click)="goToSettings()" class="user-header__settings">
        <img src="assets/icons/seting.svg" alt="">
      </a>
      <a (click)="goToProfile()" class="user-header__user">
        <div class="user-header__image">
        </div>
      </a>
    </div>
  </header>
  <main class="main">
    <div class="left-bar" [ngClass]="isMenuShown ? '_active' : ''"
         (contextmenu)="onRightClick($event)">
      <ul class="left-bar__list">
        <li class="left-bar__item">
          <a (click)="goToCreate()" class="left-bar__link">
            <img src="assets/icons/to_create.svg" alt="">
            <div class="left-bar__text">
              Создать
            </div>
          </a>
        </li>
        <li class="left-bar__item">
          <a (click)="goToMyCases()" class="left-bar__link">
            <img src="assets/icons/my_case.svg" alt="">
            <div class="left-bar__text">
              Мои дела
            </div>
          </a>
        </li>
        <li class="left-bar__item">
          <a (click)="goToSharedCases()" class="left-bar__link">
            <img src="assets/icons/available_to_me.svg" alt="">
            <div class="left-bar__text">
              Доступные мне
            </div>
          </a>
        </li>
        <li class="left-bar__item">
          <a (click)="goToRecent()" class="left-bar__link">
            <img src="assets/icons/Recent.svg" alt="">
            <div class="left-bar__text">
              Недавние
            </div>
          </a>
        </li>
        <li class="left-bar__item">
          <a (click)="goToTrashBin()" class="left-bar__link">
            <img src="assets/icons/trashcan.svg" alt="">
            <div class="left-bar__text">
              Корзина
            </div>
          </a>
        </li>
      </ul>
      <div class="left-bar__storage">
        <a (click)="goToRepository()" class="left-bar__link">
          <img src="assets/icons/cloud.svg" alt="">
          <div class="left-bar__text">
            Хранилище
          </div>
        </a>
      </div>
      <div class="left-bar__range card-range">
        <div class="card-range__range"></div>
        <div class="card-range__text">Использовано 4 из 30 карточек</div>
      </div>
      <button type="submit" (click)="goToSubscription()" class="left-bar__button">Подписка</button>
    </div>
    <div class="right-bar">
      <div class="path-line">
        <app-path-line></app-path-line>
      </div>
      <router-outlet></router-outlet>
    </div>
  </main>
  <!--  TODO сделать затемнение router-outlet при просмотре нав-меню-->
</div>
