<div class="create-container">
  <div class="btn-layer new-case-btn-wrapper" *ngIf="isRoot">
    <new-case-btn (click)="createNewCase()"></new-case-btn>
  </div>
  <div class="btn-layer new-folder-or-desk-btn-wrapper" *ngIf="!isRoot">
    <new-folder-btn (click)="createNewFolder()"></new-folder-btn>
    <new-desk-btn (click)="createNewDesk()"></new-desk-btn>
  </div>
</div>

<case-creator-dialog [isShown]="isCaseModalShown" (modalClosed)="modalClosed($event)"></case-creator-dialog>
<folder-creator-dialog [isShown]="isFolderModalShown" (modalClosed)="modalClosed($event)"></folder-creator-dialog>
<desk-creator-dialog [isShown]="isDeskModalShown" (modalClosed)="modalClosed($event)"></desk-creator-dialog>
