<div class="container">
  <h2>F.U.N.</h2>
  <form [formGroup]="authFormGroup" (submit)="auth()" (keyup.enter)="auth()">
    <div class="form-inner">
      <h3>Авторизация</h3>
      <div class="control-row">
        <small class="title">Логин</small>
        <app-login-input formControlName="login" [validators]="validators"></app-login-input>
        <small class="error"
               *ngIf="authFormGroup.get('login')?.errors?.required && authFormGroup.get('login')?.touched">Это
          обязательное поле</small>
      </div>
      <div class="control-row">
        <small class="title">Пароль</small>
        <app-password-input formControlName="password" [validators]="validators"></app-password-input>
        <small class="error"
               *ngIf="authFormGroup.get('password')?.errors?.required && authFormGroup.get('password')?.touched">Это
          обязательное поле</small>
      </div>
    </div>

    <div class="wrapper-btns">
      <button class="light-blue-button" type="submit" [disabled]="authFormGroup.invalid || isFormSent">Войти</button>
      <button class="light-blue-button" type="submit" (click)="register()">Регистрация</button>
    </div>
  </form>
</div>
