<div class="container">
  <h2>F.U.N.</h2>
  <form [formGroup]="regFormGroup" (submit)="register()" (keyup.enter)="register()">
    <div class="form-inner">
      <h3>Регистрация</h3>
      <div class="control-row">
        <small class="title">ФИО</small>
        <app-username-input [phone]="true" formControlName="fio" [validators]="validators"></app-username-input>
        <small class="error"
               *ngIf="regFormGroup.get('username')?.errors?.required && regFormGroup.get('username')?.touched">Это
          обязательное поле</small>
      </div>
      <div class="control-row">
        <small class="title">Логин</small>
        <app-login-input formControlName="login" [validators]="validators"></app-login-input>
        <small class="error"
               *ngIf="regFormGroup.get('login')?.errors?.required && regFormGroup.get('login')?.touched">Это
          обязательное поле</small>
      </div>
      <div class="control-row">
        <small class="title">Пароль</small>
        <app-password-input formControlName="password" [validators]="validators"></app-password-input>
        <small class="error"
               *ngIf="regFormGroup.get('password')?.errors?.required && regFormGroup.get('password')?.touched">Это
          обязательное поле</small>
      </div>
    </div>

    <div class="wrapper-btns">
      <button class="light-blue-button" type="submit" [disabled]="regFormGroup.invalid || isFormSent">
        Зарегистрироваться
      </button>
      <button class="light-blue-button" (click)="goBackToAuth()">Есть аккаунт? Войти</button>
    </div>
  </form>
</div>
