<div class="trash-bin-container trash">
  <h5>Дела</h5>
  <div class="cases-container">
    <div class="folder">
      <img src="assets/icons/folder-icon.svg" alt="case">
      <p>Top Secret</p>
    </div>
    <div class="folder">
      <img src="assets/icons/folder-icon.svg" alt="case">
      <p>Top Secret</p>
    </div>
    <div class="folder">
      <img src="assets/icons/folder-icon.svg" alt="case">
      <p>Top Secret</p>
    </div>
    <div class="folder">
      <img src="assets/icons/folder-icon.svg" alt="case">
      <p>Top Secret</p>
    </div>
    <div class="folder">
      <img src="assets/icons/folder-icon.svg" alt="case">
      <p>Top Secret</p>
    </div>
    <div class="folder">
      <img src="assets/icons/folder-icon.svg" alt="case">
      <p>Top Secret</p>
    </div>
    <div class="folder">
      <img src="assets/icons/folder-icon.svg" alt="case">
      <p>Top Secret</p>
    </div>
  </div>
	<!--модальное окно находиться в template.component.html
	там написано чё куда-->
	<div class="trash__button-wrapper">
		<button type="button" class="trash__button">Очистить</button>
	</div>
</div>
