<!-- страница, если у пользователя нед подписки -->
<!-- <div class="subscription">
	<div class="subscription__head">Подписка</div>
	<div class="subscription__item">
		<div class="subscription__title">
			Текущий план
		</div>
		<div class="subscription__text">
			5 досок (по 30 карточек в каждой)
		</div>
	</div>
	<div class="subscription__item">
		<div class="subscription__title">
			Подписка
		</div>
		<div class="subscription__text">
			Неограниченное количество досок и карточек
		</div>
		<button type="button" class="subscription__button">139 ₽ в месяц</button>
	</div>
</div> -->
<!-- страница, если у пользователя нед подписки -->



<!-- страница с подпиской -->
<div class="subscription">
	<div class="subscription__head">Подписка</div>
	<div class="subscription__item">
		<div class="subscription__title">
			Текущий план
		</div>
		<div class="subscription__text">
			Неограниченное количество досок и карточек
		</div>
		<button class="subscription__button">Отказаться от подписки</button>
	</div>
</div>
<!-- страница с подпиской -->




<!-- модалка при нажатии на кнопку с текстом "139р в месяц" когда у пользователя нет подписки-->
<!--при нажатии на  кнопку с текстом "139р в месяц" к .popup добавляется _active-->
<!-- <div class="popup">
  <div class="popup-space-closing"></div>
  <div class="popup__content">
    <div class="popup__body">
			<div class="popup__title">Оформить подписку</div>
			<div class="popup__text">Подписка F.U.N.Плюс 1 месяц бесплатно, далее 139₽/мес.</div>
			<div class="popup__button">Принять</div>
    </div>
  </div>
</div> -->
<!-- модалка -->


<!-- модалка подтверждение отмены подписки-->
<!--при нажатии на подписку к .popup добавляется _active-->
<div class="popup"> 
  <div class="popup-space-closing"></div>
  <div class="popup__content">
    <div class="popup__body">
			<div class="popup__title">Вы уверены, что хотите отказаться от своих преимуществ?</div>
			<div class="popup__item">1. Неограниченное количество карточек</div>
			<div class="popup__item">2. Неограниченное количество досок</div>
			<div class="popup__button">Подтвердить</div>
    </div>
  </div>
</div>
<!-- модалка подтверждение отмены подписки-->