<div class="subscription">
	<div class="subscription__head">Подписка</div>
	<div class="subscription__item">
		<div class="subscription__title">
			Текущий план
		</div>
		<div class="subscription__text">
			5 досок (по 30 карточек в каждой)
		</div>
	</div>
	<div class="subscription__item">
		<div class="subscription__title">
			Подписка
		</div>
		<div class="subscription__text">
			Неограниченное количество досок и карточек
		</div>
		<button type="button" class="subscription__button">139 ₽ в месяц</button>
	</div>
</div>