<div class="subscription">
	<div class="subscription__head">Подписка</div>
	<div class="subscription__item">
		<div class="subscription__title">
			Текущий план
		</div>
		<div class="subscription__text">
			{{getStatus()}}
		</div>
    <button *ngIf="hasSubscription"
      type="button" class="subscription__button" (click)="toggleSubscription()">Отписаться</button>
	</div>
	<div class="subscription__item" *ngIf="!hasSubscription">
		<div class="subscription__title">
			Подписка
		</div>
		<div class="subscription__text">
			Неограниченное количество досок и карточек
		</div>
		<button type="button" class="subscription__button" (click)="toggleSubscription()">139 ₽ в месяц</button>
	</div>
</div>
