<div class="my-cases-container" cdkDropListGroup
     (click)="onMilkClicked($event)"
     (contextmenu)="onMilkRightClicked($event)">

  <div *ngIf="foldersOnPage.length == 0 && desksOnPage.length == 0 && !isLoading"
       class="seems-empty">
    <p>Похоже тут совсем пусто.</p>
    <p>Создайте что-нибудь.</p>
  </div>

  <h4 *ngIf="foldersOnPage.length != 0"
      (click)="onMilkClicked($event)"
      (contextmenu)="onMilkRightClicked($event)">
    {{ getHeaderTitle() }}
  </h4>

  <div *ngIf="foldersOnPage.length != 0"
       class="folders-container"
       (contextmenu)="onMilkRightClicked($event)"
       (click)="onMilkClicked($event)">

    <div class="folder-wrapper" cdkDropList
         [id]="'folder'"
         [cdkDropListEnterPredicate]="isFolderPredicate"
         *ngFor="let folderOnPage of foldersOnPage"
         [cdkDropListData]="foldersOnPage">

      <div class="folder" cdkDrag
           (cdkDragStarted)="this.onceClicked=false; selectFolder(folderOnPage)"
           (cdkDragDropped)="drop($event)"
           (mousedown)="isDragging = true"
           (mouseup)="isDragging = false"
           [style.cursor]="isDragging ? 'grabbing' : 'pointer'"
           (click)="onFolderOnPageClicked(folderOnPage)"
           [ngClass]="{'selected': folderOnPage.isSelected}"
           (contextmenu)="onFolderRightClicked($event, folderOnPage); ">

        <div class="folder-icon element-icon"></div>
        <p>{{ folderOnPage.folder.title }}</p>
      </div>
    </div>
  </div>

  <h4 *ngIf="desksOnPage.length != 0"
      (click)="onMilkClicked($event)"
      (contextmenu)="onMilkRightClicked($event)">
    Доски
  </h4>

  <div *ngIf="desksOnPage.length != 0"
       class="folders-container"
       (contextmenu)="onMilkRightClicked($event)"
       (click)="onMilkClicked($event)">

    <div class="folder-wrapper" cdkDropList
         [id]="'desk'"
         [cdkDropListEnterPredicate]="isFolderPredicate"
         *ngFor="let deskOnPage of desksOnPage"
         [cdkDropListData]="desksOnPage">

      <div class="folder" cdkDrag
           (cdkDragStarted)="this.onceClicked=false; selectDesk(deskOnPage)"
           (cdkDragDropped)="drop($event)"
           (mousedown)="isDragging = true"
           (mouseup)="isDragging = false"
           [style.cursor]="isDragging ? 'grabbing' : 'pointer'"
           (contextmenu)="onDeskRightClicked($event, deskOnPage); "
           (click)="onDeskOnPageClicked(deskOnPage)"
           [ngClass]="{'selected': deskOnPage.isSelected}">

        <div class="desk-icon element-icon"></div>
        <p>{{ deskOnPage.desk.title }}</p>
      </div>
    </div>
  </div>
</div>

<app-folder-edit [isShown]="isFolderEditShown" (modalClosed)="modalClosed($event)"></app-folder-edit>
<app-desk-edit [isShown]="isDeskEditShown" (modalClosed)="modalClosed($event)"></app-desk-edit>
