<div id="settings" class="settings">
  <div class="settings__item">
    <h3>Настройки</h3>
  </div>
  <div class="settings__item cloud-item">
    <h4>Хранилище</h4>
    <div class="settings__range range-settings">
      <div class="range-settings__range">----</div>
      <div class="range-settings__text">Использовано 4 из 30 карточек</div>
    </div>
    <button type="button" class="settings__button">Подписка</button>
  </div>
  <div class="settings__item">
    <h4>Язык</h4>
    <div class="settings__language language">
      <ul class="language__list">
        <li class="language__preview preview-language">
          <div class="preview-language__body">
            <div class="preview-language__text">Русский</div>
            <img class="preview-language__image" src="assets/icons/preview.svg" alt="">
          </div>
          <ul class="preview-language__list">
            <li class="preview-language__item">
              <div class="preview-language__text">Английский</div>
            </li>
            <li class="preview-language__item">
              <div class="preview-language__text">Немецкий</div>
            </li>
            <li class="preview-language__item">
              <div class="preview-language__text">другой...</div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="settings__item">
    <h4>Интерфейс</h4>
    <div class="settings__ui ui">
      <ul class="ui__list">
        <li class="ui__preview preview-ui">
          <div class="preview-ui__body">
            <div class="preview-ui__text">Обычный</div>
            <img class="preview-ui__image" src="assets/icons/preview.svg" alt="">
          </div>
          <ul class="preview-ui__list">
            <li class="preview-ui__item">
              <div class="preview-ui__text">Для слабовидящих</div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
