<!-- диалоговое окно -->

<div class="dialog-box"
     *ngIf="isElementModalShown"
     [style.top]="y.toString() + 'px'"
     [style.left]="x.toString() + 'px'">
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="assets/icons/share_dialog.svg" alt="">
    </div>
    <button type="button" class="dialog-box__button">Поделиться</button>
  </div>
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="assets/icons/delete_dialog.svg" alt="">
    </div>
    <button type="button" class="dialog-box__button">Удалить</button>
  </div>
</div>

<!-- диалоговое окно -->


<!-- диалоговое окно -->

<div class="dialog-box"
     *ngIf="isMilkModalShown"
     [style.top]="y.toString() + 'px'"
     [style.left]="x.toString() + 'px'">
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="assets/icons/share_dialog.svg" alt="">
    </div>
    <button type="button" class="dialog-box__button">Пойти нахуй</button>
  </div>
  <div class="dialog-box__item">
    <div class="dialog-box__image">
      <img src="assets/icons/delete_dialog.svg" alt="">
    </div>
    <button type="button" class="dialog-box__button">Удалиться нахуй</button>
  </div>
</div>

<!-- диалоговое окно -->
