<div class="container" [ngClass]="{grabbed: isDragging}" (mousedown)="startDragging()" (mouseup)="stopDragging()" [style]="{backgroundColor: card.colorHex}">
    <div class="header">
        <div class="title">
            <span (click)="openModal()">{{ card.title }}</span>
        </div>
        <div class="pin">
            <span class="button" (click)="connectionClicked($event)">+</span>
        </div>
    </div>
    <div class="content">
        <span>{{ card.description }}</span>
        <img [src]="baseUrl + card.image" *ngIf="card.image" />
    </div>
</div>
<app-edit-card-dialog [card]="card" [deskId]="deskId" *ngIf="displayModal" (onClose)="displayModal = false"></app-edit-card-dialog>